<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDXJGkhCNYMbMbdtR0LbNl6FVkM7z00W-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1078206647978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kasirku</string>
	<key>PROJECT_ID</key>
	<string>kasirku-656fc</string>
	<key>STORAGE_BUCKET</key>
	<string>kasirku-656fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078206647978:ios:0756b8c7100af6d0e70ad3</string>
</dict>
</plist>